{% extends 'base.html' %}
{% block content %}
<div>
  <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit profile</a>
</div>
<div class="container">

  <h1 class="text-center mt-4">All post</h1>
  <div class="row">
    {% for i in form %}
    <div class="col-lg-3 col-md-3 col-sm-6 mt-4">
      <div class="card">
        <div class="card-body">
          <p>Title: {{i.title}}</p>
          <p>Content : {{i.content}}</p>
          <p>All category:</p>
          {% if i.category %}
          {% for b in i.category.all %}
          <h4 class="btn btn-warning">{{b.name}}</h4>
          {%endfor%}
          {%endif%}
          <h5>Author name: {{i.author.first_name}} </h5>
          <a class="btn btn-primary" href="{% url 'Editpost' i.id %}">Edit</a>
          <a class="btn btn-danger" href="{% url 'DeletePost' i.id %}">Delete</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}